.kutija{
    background-color: magenta;
    color: beige;
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    display: inline-block;
    margin-inline-start: 30px;
}